<p>Home page</p>
<label for="filterCategory">Category:</label>
<select name="filterCategory" ng-model="filter.category">
	<option value="IT">IT</option>
	<option value="Nature">Nature</option>
	<option value="Pets">Pets</option>
	<option value="Home">Home</option>
	<option value="Music">Music</option>
	<option value="Food">Food</option>
</select>
</br>
<label for="subtitles">Subtitles:</label>
<input name="subtitles" value="true" type="checkbox" ng-model="filter.haveSubtitles" />
</br>
<label for="date">Date:</label>
<input type="date" name="date" ng-model="filter.date" />
</br>
<label for="sortBy">Sort by:</label>
<select name="sortBy" ng-model="orderBy">
	<option value="title">Title</option>
	<option value="length">Length</option>
	<option value="date">Date</option>
	<option value="subscribers">Subscribers</option>
</select>
<div ng-repeat="video in videos | filter: filter | orderBy: orderBy">
	<div class="main-grid">
		<div class="top-grid-video">
			<img class="video-image" ng-src="{{video.pictureUrl}}" alt="{{video.title}}">
			<div class="length">{{video.length}}</div>
		</div>
		<div class="bot-grid-info">
			<h3 class="title-info">{{video.title}}</h3>
			<ul>
				<li>
					<p class="category">{{video.category}}</p>
				</li>
				<li class="right-list">
					<p class="subscribers">{{video.subscribers}} subscribers</p>
				</li>
			</ul>
		</div>
	</div>
</div>